.title-container {
	text-align: center;
}
.title {
	margin: auto;
}
.new-todo {
	padding: 16px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
}

.new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	outline: none;
	font-size: 24px;
	line-height: 1.4em;
	border: 0;
	padding: 6px;
}
.edit {
	border: 1px solid #999;
}
button {
	outline: none;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}
input {
	outline: none;
}
