.item-container {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
	width: 100%;
}
.view {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.toggle {
	text-align: center;
	height: 40px;
	width: 40px;
	height: auto;
	border: none;
	appearance: none;
}
.toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="5"/></svg>');
}
.toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="5"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.label {
	flex: 1;
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}
.delete {
	width: 30px;
	height: 30px;
	font-size: 20px;
	color: #cc9a9a;
	cursor: pointer;
}
.priorityContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
}
.up,
.down {
	font-size: 18px;
	cursor: pointer;
}
.priorityContainer .priority {
	font-size: 20px;
	text-transform: lowercase;
	color: gray;
}
.clickable {
	cursor: pointer;
}
.date-picker__container {
	margin-left: 3px;
	margin-right: 3px;
}
.sort-type__container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.sort-type__container button {
	border: 1px solid #ededed;
	padding: 5px;
	font-size: 14px;
	margin-right: 16px;
	font-weight: lighter;
}
.sort-type__container button.active {
	background-color: #f3f6ff;
}
.sort-type__container .description {
	font-size: 14px;
	align-self: center;
	margin-right: 7px;
	font-weight: lighter;
}
