@media (min-width: 1300px) {
	.container {
		width: 50%;
	}
}
.container {
	margin: auto;
	padding: 20px;
}
.main {
	border-top: 1px solid #e6e6e6;
}
.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
